@tailwind base;

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(255,255,255,.75) rgb(255,255,255);
}

*:-webkit-scrollbar {
  width: 6px;
}

*:-webkit-scrollbar-track {
  background: transparent;
  border-radius: 12px;
}

*:-webkit-scrollbar-thumb {
  width: 6px;
  background-color: transparent;
  border-radius: 12px;
  border: 2px solid rgb(255,255,255);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: rgba(255,255,255,.5);
  border-radius: 12px;
}

*::-webkit-scrollbar-thumb {
  width: 6px;
  background-color: rgb(255,255,255);
  border-radius: 12px;
  border: 2px solid rgb(255,255,255);
}

@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-white: 255 255 255;
    --color-black: 000 000 000;
    --color-blueneutral: 0 99 149;
  }
}

@font-face {
  font-family: "Typ1451LLWeb-Bold";
  src: url("./fonts/Typ1451LLWeb-Bold.woff") format("woff");
}

@font-face {
  font-family: "Typ1451LLWeb-Bold";
  src: url("./fonts/Typ1451LLWeb-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Typ1451LLWeb-Medium";
  src: url("./fonts/Typ1451LLWeb-Medium.woff") format("woff");
}

@font-face {
  font-family: "Typ1451LLWeb-Medium";
  src: url("./fonts/Typ1451LLWeb-Medium.woff2") format("woff2");
}


/* subset */
@font-face {
  font-family: "Typ1451LLSub-Bold";
  src: url("./fonts/Typ1451LLSub-Bold.woff") format("woff");
}

@font-face {
  font-family: "Typ1451LLSub-Bold";
  src: url("./fonts/Typ1451LLSub-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Typ1451LLSub-Medium";
  src: url("./fonts/Typ1451LLSub-Medium.woff") format("woff");
}

@font-face {
  font-family: "Typ1451LLSub-Medium";
  src: url("./fonts/Typ1451LLSub-Medium.woff2") format("woff2");
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Typ1451LLSub-Medium";
}

body::-webkit-scrollbar,
.hide-scrollbar::-webkit-scrollbar {
  display: none;
  scrollbar-width: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@media (hover: hover) and (pointer: fine) {
  
  
}

@media (pointer: coarse) {
  a {
    cursor: none;
  }
}

#root {
  height: 100vh;
  overflow: hidden;
  user-select: none;
}

main {
  color: white;
  /* IFR */
  /* background: linear-gradient(180deg, rgba(11,23,66,1) 15%, rgba(0,99,149,1) 60%, rgba(93,195,240,1) 100%); */
  /* ILS */
  /* background: transparent linear-gradient(180deg, #091D51 0%, #01699B 100%) 0% 0% no-repeat padding-box;   */
  /* ISD */
  background: transparent linear-gradient(180deg, #5DC3F0 0%, #006395 50%, #0B1742 100%) 0% 0% no-repeat padding-box;
  /* background: transparent linear-gradient(180deg, #5DC3F0 0%, #006395 100%) 0% 0% no-repeat padding-box; */
  
}


.news-container {
  height: calc(100vh - 200px);
}

.news-grid {
  height: 100% !important;
}


/* .page-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 50px);
  width: 2px;
  background-color: #fff;
}

.page-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: calc(100% - 70px);
  height: 2px;
  background-color: #fff;
} */


.media-header .icon {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 0;
} 
.media-header.pdf .icon {
  background-image: url(../public/Pikto_Text.png);
}
.media-header.mp4 .icon {
  background-image: url(../public/Pikto_Video.png);
}
.media-header.jpg .icon {
  background-image: url(../public/Pikto_Bild.png);
}

#react-portal-modal-container .container a {
  pointer-events: none;
}

#react-portal-modal-container .container ul {
  padding-left: 16px;
  list-style-type: disc;
}

#react-portal-modal-container .container p {
  line-height: 1.25 !important;
}

#react-portal-modal-container .container span {
  color: #000 !important;
}

#react-portal-modal-container .container u {
  text-decoration: none;
}

#react-portal-modal-container .video-react-icon-fullscreen {
  display: none;
}

@media (pointer: coarse) {
  main {
    pointer-events: auto! important;
    cursor: none! important;
  }
}

/* @media (hover: hover) {
  main {
    pointer-events: auto! important;
    cursor: none! important;
  }
} */

